.cart_head{
  width: 95%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  color: #333;
  .title{
    font-size: 22px;
  }
  .right{
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 18px;
    .coupon{
      color: orange;
      margin-right: 13px;
    }
  }
}

.cart_post{
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  background: #fff8d8;
  font-size: 17px;
  color: #f48f18;
  .post_desc{
    margin-left: 20px;
  }
  .post_more{
    float: right;
    margin-right: 20px;
  }
}